<div style="min-height: calc(100vh - 80px); " >

<div>
      <style>
              table {
            width: 100%; /* Ширина таблицы */
                 }
                 tr{


                 }
                td {
            padding: 10px; /* Поля в ячейках */
            vertical-align:middle; /* Выравнивание по верхнему краю ячеек */
            text-align: center;
            }

  </style>

    <form  action="/send" method="post" enctype="multipart/form-data">
    <table style="background-color: slategrey; color:white">
        <h1 style="padding-left: 40%; background-color:slategrey; color:rgb(119, 3, 3)">All info of Database</h1>
        <thead>
            <tr>

                <th>Email</th>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Phone</th>
                <th>Corporation</th>
                <th>Send</th>
                <th>add</th>
            </tr>

        </thead>

        <tbody>
         {{#each result}}
            <tr>
                <td id={{_id}}email>{{email}}</td>
                <td>{{name}}</td>
                <td>{{address}}</td>
                <td>{{city}}</td>
                <td>{{state}}</td>
                <td>{{zip}}</td>
                <td>{{phone}}</td>
                <td>{{corporation}}</td>
                <td>{{status}}</td>
                <td>
                   <input type="checkbox"  name="food" value="{{email}}">
                </td>

            </tr>
          {{/each}}
         <input type="file" name="filedata" id="filedata">
         <button  >Send info</button>
        </tbody>
    </table>


    <div class="Back">

        <a  href="/" style="text-align:left;">
            Back to Main Page
        </a>

       <style>
           .Back{

               padding-top: 41%;


           }
       </style>

    </div>



    </form>
</div>
    <form method="POST">
        <div class="btn-class">
            <button  style="background-color:slategrey; color:white " >Download Csv-File</button>
            <style>
                .btn-class{
                    border-radius: 10px;


                    padding-left: 38%;

                }

            </style>
        </div>
    </form>





</div>
